<div class="row">
  <div class="col-md-12 hide-print">
    <label><strong>विधानसभा</strong><span class="required">*</span></label> : 
    <p-dropdown [options]="constituencyList" [(ngModel)]="selectedConstituency" (onChange)="fetchBoothForConstituency($event)"></p-dropdown>
    <span class="padding10"></span>
    <label><strong>बूथ क्रमाक</strong><span class="required">*</span></label> : 
    <p-dropdown [options]="boothList" [(ngModel)]="selectedBooth" (onChange)="showLoadButton($event)"></p-dropdown>
    <span class="padding10"></span>
    <div class="inline-block" *ngIf="showLoad">
      <button pButton type="button" label="Load" (click)="loadData()"></button>
    </div>
  </div>
  <div class="col-md-12 show-print">
    <label><strong>विधानसभा:</strong></label> <span>{{selectedConstituency}}</span><br/>
    <label><strong>बूथ क्रमाक:</strong></label> <span>{{selectedBooth}}</span>
  </div>
</div>

<div *ngIf="showStatistics">
  <hr/>
</div>
<div *ngIf="showStatistics">
  <div class="row print-page">
    <div class="col-md-12">
      <p-card [title]="reportPrefix + ' - MAIN SURNAMES / मुख्य उपनाम'">
        <p-chart type="bar" [data]="surnameChartData" [options]="surnameOptions"></p-chart>
      </p-card>
    </div>
  </div>
  <div class="row print-page">
    <div class="col-md-12">
      <p-card [title]="reportPrefix + ' - प्रती अनुभाग माहिला / पुरूष (F/M)'">
        <p-chart type="bar" [data]="sectionGenderChartData" [options]="sectionGenderOptions"></p-chart>
      </p-card>
    </div>
  </div>
  <div class="row print-page">
    <div class="col-md-6 chart full-height">
      <p-card [title]="reportPrefix + ' - बूथ मे महला एवं पुरुष की सांख्या'">
        <p-chart type="pie" [data]="genderChartData" [options]="genderOptions"></p-chart>
      </p-card>
    </div>
    <div class="col-md-6 chart full-height">
      <p-card [title]="reportPrefix + ' - उम्र के अनुसार मतदाता की संख्या (A)'">
        <p-chart type="bar" [data]="ageRangeVotersChartData" [options]="ageRangeVotersOptions"></p-chart>
      </p-card>
    </div>
  </div>
  <div class="row print-page">
    <div class="col-md-12">
      <p-card [title]="reportPrefix + ' - उम्र के अनुसार मतदाता की संख्या (B)'">
        <p-chart type="bar" [data]="ageVotersChartData" [options]="ageVotersOptions"></p-chart>
      </p-card>
    </div>
  </div>
  <div class="row print-page">
    <div class="col-md-12">
      <p-table [columns]="cols" [value]="houseVotersData">
        <ng-template pTemplate="caption">
          {{reportPrefix}} - प्रती घर मतदाता की संख्या
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.sectionnamehindi].index === rowIndex">
            <td colspan="3" style="text-align:center">
              <span style="font-weight:bold">{{rowData.sectionnamehindi}}</span>
            </td>
          </tr>
          <tr>
            <td>{{rowData.HouseNumber}}</td>
            <td>{{rowData.Surnameinenglish}}</td>
            <td>{{rowData.num}}</td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template> -->
      </p-table>
    </div>
  </div>
</div>
