<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4>Dashboard</h4>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid text-center">    
  <div class="row full-height">
    <!-- <div class="col-sm-2 sidenav">
    </div> -->
    <div class="col-sm-12 text-left content"> 
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>
