/* You can add global styles to this file, and also import other style files */
body {
  font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1rem;
  // margin-top: 1rem;
  margin-bottom: 0;
  height: 100vh;
  color: #25333D;
}
header {
  color: #fafafa;
  background-color: #004A70;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.container-fluid {
  height: 100%;
  .row.full-height {
    height: 100%;
    .sidenav {
      height: 100%;
      background: #F3F6FA;
      padding: 1rem;
      border-right: 1px solid #CCCCCC;
    }
    .content {
      height: 100%;
      padding: 2rem;
    }
  }
}
.padding10 {
  padding: 10px;
}
.inline-block {
  display: inline-block;
}
.chart.full-height {
  .ui-card {
    height: 100%;
    .ui-card-content {
      margin: 25% auto;
    }
  }
}
.show-print{
  display:none;
}

@media print {
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }
  .print-page{
    page-break-after: always;    
  }
  .hide-print{
    display: none;
  }
  @page {
    //size: landscape
  }
  .show-print{
    display : block;   
  }
}
